@font-face {
  font-family: "ChosunKg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.notify-bg {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.notify-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 160px;
  margin-bottom: 150px;
  border: 7px dotted black;
  background-color: #ffffff;
  font-size: 20px;
  font-family: "ChosunKg";
  font-weight: 500;
  // animation: fadeIn 2s;
  // opacity: 0;
}
@keyframes fadeIn {
  0% {
    margin-bottom: 200px;
    opacity: 0;
  }
  100% {
    margin-bottom: 150px;
    opacity: 1;
  }
}
