@font-face {
  font-family: "ChosunKg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.register-area {
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  .register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    .input-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .password-label,
      .id-label {
        display: inline-block;
        width: 110px;
        font-size: 25px;
        text-align: right;
        margin-right: 10px;
      }
      .id-input,
      .password-input {
        width: 200px;
        height: 25px;
      }
    }
    .mb-50 {
      margin-bottom: 50px;
    }
    .button-box {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .register-button {
        width: 160px;
        height: 40px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: "ChosunKg";
        font-size: 20px;
        border-style: none;
        cursor: pointer;
      }
      .register-button:hover {
        background-color: rgb(184, 184, 184);
      }
    }
  }
}
